body {
	font-family: Roboto;
  width: 100vw;
  height: 100vh;
}
.mount {
  width: 100%;
  height: 100%;
}

.navbar {
	margin-bottom: 0px;
}
.sidebar {
	padding-right: 0px;
	padding-left: 0px;
  overflow-y: auto;
  max-height: 100vh;
}

.content-body {
	padding-right: 0px;
	padding-left: 0px;
}

.post-body {
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
}

.btn {
	line-height: 2.5;
  width: 100%;
}
.splash-header {
  font-size: 34px;
  text-align: center;
  margin-bottom: 35px;
}
.splash-content {
  display: flex;
  justify-content: space-around; 
  font-size: 28px;
}
.jumbotron h1 {
  font-size: 55px;
}
.login {
    margin: 20px 0 20px 0;
    height: 50px;
}
.signup-logo {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.signup-question {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}
.space {
  margin-left: 5px;
}
.lock-jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
}
.locked-enroll {
  margin-top: 20px;
  border-radius: 25px;
}
.panel-headings {
  margin-bottom: 0px;
}
.button-left {
  text-align: left;
}
.indent {
  margin-left: 15%;
}
.video-js {
  width: 1080;
  height: 720;
}
.scroll {
  height: 100vh;
  max-height: 100vh;
}
.wide {
  width: 1080px;
  height: 720px;
}


